.firstH1 {
    color: red;
}

.picture {
    border: 50px green solid;
}

.beautifulColor {
    color: pink;
}

.anotherColor {
    color: blue;
}

.hover {
    border: 400px solid red;
}

.button {
    color: blue;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}